<!DOCTYPE html>
<html>
<head>
  <title><%= Wisdom.config.site_title %></title>
  <%= stylesheet_link_tag    "wisdom/application", :media => "all" %>

  <%= yield :head %>

  <%= javascript_include_tag "wisdom/application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".sidemenu" data-offset='20'>
  <div class='container wisdom'>
    <% if can_edit? %>
      <%= link_to_unless_current 'Public Site', root_url %> |
      <%= link_to_unless_current 'Manage', topics_url %> |
      <%= link_to_unless_current 'New Topic', new_topic_url %> 

      <% if @topic.present? && @topic.persisted? %>
        | <%= link_to_unless_current(@topic.title, topic_url(@topic)) %> |
        <%= link_to_unless_current("Edit #{@topic.title}", edit_topic_url(@topic)) %> |
        <%= link_to 'Add a question', new_topic_question_path(@topic)%>

      <% end %>

      <% if @question.present? && @question.persisted? %>
        | <%= link_to_unless_current(@question.title, topic_question_url(@question))%> |
        <%= link_to_unless_current("Edit #{@question.title}", edit_topic_question_url(@question))%>
      <% end %>
    <% end %>

    <div class='flash clearfix' >
      <% flash.each do |name, msg| %>
      <div style='padding:25px'>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>" >
          <a class="close" data-dismiss="alert">x</a>
          <%= msg  %>
        </div>
      </div>
      <% end %>
    </div>

  <%= yield %>

  </div>

</body>
</html>
