<% content_for :head do %>
  <% Wisdom.config.stylesheet_paths.each do |path| %>
    <%= stylesheet_link_tag path, :media => "all" %>
  <% end %>
<% end %>

<div class='row clearfix'>
  <div class='span8 offset4'>
    <h1><%= Wisdom.config.site_title %></h1>
  </div>
</div>

<div class='row'>
  <div class='span4'>
    <%= render 'menu', topics: @topics %>
  </div>

  <div class='span8'>
    <form class="form-search">
      <input class='input-block-level search-query' id='filter' placeholder='Search for a question...' type='text'></input>
    </form>

    <% @topics.each do |t| %>
      <section class='clearfix' id="<%= t.slug %>">
        <h2><%= t.title %> <small><%= edit_topic_link(t) %></small></h2>
        <p><%= simple_format t.description %></p>

        <% t.questions.each do |q| %>
          <div class='question'>
            <h4><%= q.title %> <small> <%= edit_question_link(t, q)%></small></h4>
            <%= simple_format(q.text) %>

          </div>
        <% end %>

        <% if Wisdom.config.contact_email.present? %>
          <div class='helpdoc'>
              Did this help?
              <p class='muted'>If not, email us: <%= mail_to Wisdom.config.contact_email, Wisdom.config.contact_email, target:'_blank'%></p>
          </div>
          <% end %>
      </section>
    <% end %>


    <%= link_to("manage", topics_path) if can_edit? %>
  </div>
</div>

